// French overrides
.fr {
  #intro-overlay button {
    width: 200px;
    float: left;
    margin-top: 2px;
  }
  #locations-panel .location {
    width: 250px;
  }
  #locations-panel .location div {
    width: 230px;
  }
}
