body {
	padding: 0px;
	font-family: sans-serif;
	line-height: 17pt;
	color: #555555;
	background-image: url(../../images/debut_dark.png);
	background-repeat: repeat;
	overflow: hidden;
}
section {
	padding: 0px;
}
.hidden {
	display: none;
}
.clear {
	clear: both;
}
a:hover {
	color: #990000;
	text-decoration: none;
}