@import "variables";
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700");

body .navbar {
	cursor: pointer;
	.brand {
		padding: 0 0 0 40px;
		width: 170px;
		background: transparent url(../../images/icon.png) left center no-repeat;
		margin-left: 15px;
		color: #ffffff;
		font-family: $webFont;
		font-size: 24px;
		span {
			color: #33b5e5;
		}
	}
}
.tagLine {
	font-size: 10px;
}

header {
	a {
		color: #cccccc;
	}
	.nav {
		margin-bottom: 0;
	}
	#select-locale {
		margin: 0;
		width: 90px;
	}
	.header-search {
		display: flex;
		height: 34px;
		input {
			margin: 13px;
			padding: 16px 12px;
			width: 310px;
			background-color: white;
		}
		button {
			margin-left: 4px;
		}
	}
	.nav-items {
		list-style-type: none;
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: row;
		font-size: 9pt;
		li {
			flex: 0 0 auto;
			font-size: 11pt;
			a {
				display: inline-block;
				padding: 18px 16px 22px;
			}
			&.lang-toggle {
				padding: 15px;
			}
		}
	}
}
.advanced-search-link {
	display: inline-block;
	padding: 21px 11px 39px 5px;
}
