@import "variables";

body .navbar .brand {
	padding: 0 0 0 40px;
	width: 170px;
	background: transparent url(../../images/icon.png) left center no-repeat;
	margin-left: 15px;
	color: #e9f7ff;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 24px;
	span {
		color: #33b5e5;
	}
}
.tagLine {
	font-size: 10px;
}

header {
	border-bottom: 2px solid #0094c8;
	.nav {
		margin-bottom: 0;
	}
	#select-locale {
		margin: 0;
		width: 90px;
	}
	.header-search {
		display: flex;
		padding: 13px;
		height: 34px;
		input {
			padding: 6px;
			width: 310px;
		}
		button {
			margin-left: 4px;
		}
	}
	.nav-items {
		list-style-type: none;
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: row;
		font-size: 9pt;
		li {
			flex: 0 0 auto;
			padding: 20px;
			font-size: 11pt;
			a {
				color: #cccccc;
			}
			&.lang-toggle {
				padding: 15px;
			}
		}

	}
	.advanced-search-link {
		color: #cccccc;
		margin-left: 10px;
		padding: 6px;
		font-size: 10pt;
	}
}


/*
#mainTabs {
	margin: 31px 14px 7px 55px;

	li {
		float: left;
		margin: 1px 4px 0 0;
		text-align: center;
		border-radius: 4px 4px 0 0;
		box-shadow: none;

		padding: 0;
		cursor: pointer;

		a {
			font-size: 14px;
			padding: 10px 15px 10px;

			border: 1px solid transparent;
			&:hover {
				color: #cccccc;
				text-decoration: none;
			}
		}
		&.active, &:hover {
			a {
				color: white;
				background-color: #3e444c;
				border: 1px solid #1c1e22;
				border-radius: 4px 4px 0 0;
				border-bottom: 0;
			}
		}
	}
}

#searchTab a {
	i {
		margin-right: 3px;
	}
	color: green !important;
}
*/
