@import "variables";
@import "mixins";


#map-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #000000;
	opacity: 0.3;
}

.section-header {
	height: 28px;
	cursor: pointer;
	flex: 0 1 auto;
	&>div {
		position: relative;
		width: 100%;
	}
	h2 {
		display: inline-block;
		color: white;
		font-family: $webFont;
		font-size: 16px;
		margin: 2px 0 0 10px;
		line-height: 25px;
	}
	.toggle-section {
		float: right;
		margin: 6px 9px;
		color: #999999;
		font-size: 13px;
		@include transition-all($transition-speed);
	}
	&:hover {
		.toggle-section {
			color: #0099cc;
		}
	}
	.total-count {
		padding: 0 4px;
		border-radius: 4px;
		margin-left: 4px;
	}
}

#locations-panel {
	position: absolute;
	top: 60px;
	left: 0;
	width: 300px;
	display: flex;
	flex-direction: column;

	header, footer {
		background-color: rgba(26, 29, 34, 0.71);
		&:hover {
			background-color: rgba(26, 29, 34, 0.75);
		}
	}
	.panel {
		background-color: rgba(0, 0, 5, 0.78);
		flex: 1;
	}
	table {
		width: inherit;
		margin-bottom: 0;
	}
	.section-header {
		left: 0;
	}
	span.num-locations {
		background-color: #0099cc;
	}
	table, td, th {
		padding: 0;
		font-size: 9pt;
		text-align: left;
	}
	tr {
		height: 23px;
		&.loading {
			color: #777777;
		}
	}
	.location {
		padding-left: 10px;
		width: 260px;
		div {
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			width: 240px;
		}
	}
	.num-species {
		text-align: center;
	}
	.all-locations-row {
		color: white;
		font-weight: bold;
	}
	tbody {
		overflow-x: auto;
		tr {
			&:not(.loading):hover .location {
				color: #0099cc;
			}
			&:not(.loading):hover {
				cursor: pointer;
			}
		}
	}
}

#locations-panel-content > div, #species-panel-content > div {
	display: flex;
	flex-direction: column;
	height: 100%;
	.panel {
		display: flex;
		flex-direction: column;
		flex: 1;
		overflow-x: hidden;
	}
	footer {
		flex: 0 0 auto;
		text-align: center;
		cursor: pointer;
		span {
			font-size: 15px;
			@include transition-all($transition-speed);
		}
		&:hover {
			span {
				color: #0099cc;
			}
		}
	}
}
#species-panel-content > div .panel table {
	flex: 1;
}

.filter-locations-row {
	flex: 0 0 auto;
	padding: 8px 10px 0;
	position: relative;
	input {
		width: 100%;
	}
}

body .clear-filter-icon {
	position: absolute;
	top: 15px;
	right: 16px;
	font-size: 15px;
	cursor: pointer;
	&:hover {
		color: #555555;
	}
}

.species-heading-row {
	position: relative;
	padding: 8px 0;
	flex: 0 0 auto;
	margin: 0 4px;

	h1 {
		font-size: 24px;
		margin-bottom: 0;
		border-bottom: 1px solid #666666;
		a {
			color: #cccccc;
		}
	}
	.delimiter {
		font-size: 8pt;
		color: #666666;
		margin: 6px;
	}
}

.species-table {
	flex: 1;
	overflow: hidden;

	.filter-field {
		margin: 0;
		&::-webkit-input-placeholder,
		&::-moz-placeholder,
		&:-ms-input-placeholder,
		&:-moz-placeholder {
			color: #333333;
		}
	}
	.row-num {
		width: 4%;
	}
	.species-col {
		width: 45%;
		position: relative;
		span {
			display: inline-block;
		}
		input {
			float: right;
		}
	}
	.last-seen {
		width: 17%;
	}
	.locations-seen {
		width: 17%;
	}
	.num-reported {
		width: 17%;
	}
}

.highlight {
	color: $text-highlight-color;
}

body .filter-field {
	padding: 13px 6px;
	background-color: white;
}

#locations-table-wrapper {
	flex: 1;
	overflow: auto;
	overflow-x: hidden;

	thead {
		cursor: pointer;
	}
	.col-sort {
		font-size: 10px;
		color: #0099cc;
	}
}

#species-panel {
	position: absolute;
	top: 60px;
	left: 300px;
	display: flex;
	flex-direction: column;

	span.num-species {
		background-color: #0099cc;
	}
	.panel {
		background-color: rgba(0, 0, 5, 0.78);
		border-left: 1px solid #666666;
		flex: 1;
		padding: 0 10px;
		overflow: hidden;
	}
	header, footer {
		background-color: rgba(26, 29, 34, 0.71);
		border-left: 1px solid #222222;
		&:hover {
			background-color: rgba(26, 29, 34, 0.75);
		}
	}
	table {
		color: #cccccc;
		font-size: 14px;
		margin-bottom: 0;
		td {
			line-height: 15px;
			vertical-align: middle;
		}
	}
}

.range {
	border-radius: 2px;
	padding: 1px 4px;
	font-size: 10px;
	display: inline-block;
	width: 32px;
	font-weight: bold;
}
.range1 {
	background-color: $range1;
	color: #333333;
}
.range2 {
	background-color: $range2;
	color: #333333;
}
.range3 {
	background-color: $range3;
	color: #ffffff;
}
.range4 {
	background-color: $range4;
	color: #ffffff;
}
.range5 {
	background-color: $range5;
	color: #ffffff;
}
.range6 {
	background-color: $range6;
	color: #333333;
}
.range7 {
	background-color: $range7;
	color: white;
}
.range8 {
	background-color: $range8;
	color: white;
}

.row-num {
	font-size: 9px;
	color: #efefef;
	width: 20px;
}
.com-name {
	color: #ffffff;
	text-shadow: 1px 2px 2px #222222;
}
.sci-name {
	font-size: 10px;
	color: #999999;
}

.species-num-locations {
	position: relative;
	width: 40px;
	background-color: rgba(26, 29, 34, 0.91);
	color: white;
	margin-left: 30px;
	border-radius: 3px;
	text-align: center;
	display: inline-block;
	cursor: pointer;
	padding: 2px;
	font-size: 12px;
}

.species-num-locations-cell {
	position: relative;
}

#locations-popover {
	width: 300px;
	margin-left: 30px;
	.popover-content {
		font-size: 12px;
		max-height: 200px;
		overflow: auto;
		li {
			cursor: pointer;
			&:hover {
				color: $blue;
			}
			padding: 3px 0;
			border-bottom: 1px solid #222222;
			&:last-child {
				border-bottom: none;
			}
		}
	}
	ul {
		list-style-type: none;
		margin: 0;
	}
}


.species-table {
	display: flex;
	flex-direction: column;
}
.species-table-header {
	flex: 0;
	border-bottom: 2px solid black;
}
.species-header {
	margin-top: 8px;
}
.species-table-content-wrapper {
	flex: 1;
	overflow-x: hidden;
	overflow-y: auto;
}

