@import "variables";

#map-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #000000;
	opacity: 0.3;
}

/*
.panel {
	background: rgba(0, 0, 0, 0.8);
	color: #dddddd;
}
*/

.section-header {
	height: 25px;
	cursor: pointer;
	flex: 0 1 auto;
	&>div {
		position: relative;
		width: 100%;
	}
	h2 {
		display: inline-block;
		color: white;
		font-family: $webFont;
		font-size: 16px;
		margin: 0 0 0 10px;
		line-height: 25px;
	}
	.toggle-section {
		float: right;
		margin: 3px 4px;
		color: #dddddd;
	}
	.total-count {
		padding: 0 4px;
		border-radius: 4px;
		margin-left: 4px;
	}
}

#locations-panel {
	position: absolute;
	overflow: hidden;
	top: 60px;
	left: 0;
	width: 300px;
	display: flex;
	flex-direction: column;
	background-color: rgba(0, 0, 0, 0.7);

	.section-header {
		left: 0;
	}
	.panel {
		flex: 1;
	}
	span.num-locations {
		background-color: #0099cc;
	}
	table, td, th {
		padding: 0;
		font-size: 9pt;
		text-align: left;
	}
	.location {
		padding-left: 10px;
		width: 260px;
	}
	tbody {
		overflow-x: auto;
	}
}


#species-panel {
	position: absolute;
	overflow: hidden;
	top: 60px;
	left: 300px;
	display: flex;
	flex-direction: column;
	background-color: rgba(0, 0, 0, 0.7);

	span.num-species {
		background-color: #0099cc;
	}
}
