//#mapTabContent, #birdSpeciesTabContent {
//	width: 100%;
//	height: 100%;
//}
//#panelContent {
//	height:100%;
//	width: 100%;
//	clear: both;
//}
//#panelTabs {
//	list-style-type: none;
//	margin: 0px;
//	padding: 0px;
//
//	li {
//		float: left;
//		margin: 1px 4px 0px 0px;
//		text-align: center;
//		border-top-left-radius: 4px;
//		border-top-right-radius: 4px;
//		border-bottom-left-radius: 0px;
//		border-bottom-right-radius: 0px;
//		box-shadow: none;
//		font-size: 9pt;
//		padding: 3px 22px 3px;
//		cursor: pointer;
//
//		&.disabledTab {
//			padding-top: 4px;
//			background: rgba(0, 0, 0, 0.3);
//			cursor: default;
//		}
//		a {
//			padding: 10px 15px;
//			color: #555555;
//			&:hover {
//				color: #cccccc;
//				text-decoration: none;
//			}
//		}
//	}
//}

//#birdSpeciesTabContent {
//	box-sizing: border-box;
//	overflow-y: scroll;
//	font-size: 13px;
//	color: #cccccc;
//	background: rgba(255, 255, 255, 0.1);
//
//	h1 {
//		font-size: 18pt;
//		color: #ffffff;
//		margin: 0px 0px 10px 0px;
//		line-height: 26px;
//		float: left;
//	}
//	h2 {
//		font-size: 10pt;
//		color: #666666;
//		margin: 2px 0px 0px 20px;
//		float: left;
//		padding: 3px 10px;
//		border-radius: 7px;
//		color: black;
//		background-color: #efefef;
//		line-height: 17px;
//	}
//
//	table {
//		td, th {
//			padding: 6px;
//		}
//		th {
//			color: #cccccc;
//			font-size: 14px;
//			text-shadow: 1px 2px 2px #222222;
//		}
//	}
//	.species {
//		color: #ffffff;
//	}
//}
//
//.fixedHeader {
//	width: 100%;
//	position: fixed;
//	background-image: url(../../images/debut_dark.png);
//	background-repeat: repeat;
//
//	&>div {
//		padding: 20px 20px 0px;
//		background: rgba(255, 255, 255, 0.1);
//	}
//}
//.fixedContent {
//	padding: 0px 15px;
//	margin-top: 60px;
//
//	a {
//		display: block;
//	}
//}
//
//.sp {
//	width: 30px;
//}
//.notLoaded label {
//	color: #555555;
//}
//
//.joiner {
//	color: #999999;
//}
//
//.confirmed {
//	color: green;
//}
//.reviewed {
//	color: #9f3fcf;
//}
//.not_reviewed {
//	color: #995200;
//}
//
//.birdSightingsTable a {
//	display: inline;
//}
//.birdLocations {
//	font-size: 8pt;
//	color: #888888;
//}
//.lastSeenDetails, .howManyDetails {
//	font-size: 8pt;
//}
//

#map-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #000000;
	opacity: 0.3;
}

