@import "variables";

#map-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #000000;
	opacity: 0.3;
}

.panel {
	position: absolute;
	.summary {
		h2 {
			display: inline-block;
			color: black;
			font-family: $webFont;
			font-size: 16px;
			span {
				color: white;
				padding: 0 4px;
				border-radius: 3px;
			}
			span.num-locations {
				background-color: #0099cc;
			}
			span.num-species {
				background-color: #009900;
			}
		}
	}

	background: rgba(0, 0, 0, 0.8);
	color: #dddddd;
	padding: 12px;

	.close-panel {
		float: right;
		&:hover {
			color: #333333;
		}
	}
}

#overview-panel {
	.panel {
		margin-bottom: 10px;
	}
	h1 {
		font-size: 20px;
		margin: 0;
	}
}
#locations-panel {
	overflow-x: auto;
	table, td, th {
		padding: 0;
		font-size: 9pt;
		text-align: left;
	}
}

#panel-toggle-buttons {
	position: absolute;
	bottom: 10px;
	right: 10px;
	z-index: 1;
	font-size: 14px;
	line-height: 40px;
	&>span {
		margin-right: 10px;
	}
	nav {
		display: inline-block;
		&>a {
			border-radius: 50%;
			width: 40px;
			height: 40px;
			display: inline-block;
			margin-right: 6px;
			cursor: pointer;
			text-align: center;
			font-weight: normal;
			color: white;
			&:last-child {
				margin-right: 0;
			}
			&.disabled {
				background-color: #919191;
			}
		}
	}
	.overview-btn {
		background-color: green;
	}
	.locations-btn {
		background-color: #0099cc;
	}
	.species-btn {
		background-color: red;
	}
}
