body .well {
	background: rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 4px rgba(40, 40, 40, 0.8);
	border: 0px;
	margin-bottom: 6px;
	padding: 4px;
	position: relative;
	clear: both;
}
body .well-small {
	padding: 5px;
	margin-bottom: 0px;
}

body .well-pad {
	padding: 8px;
}

#backTop {
	display: none;
	padding: 6px 6px 6px 12px;
}
#backLeft {
	display: none;
	width: 50px;
	background-color: #efefef;
	position: absolute;
	left: 0px;
	height: 1000px;
	cursor: pointer;
}
#backLeft div {
	width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-right: 20px solid #666666;
	margin-left: 12px;
	position: absolute;
}



/*body .table {
	margin-bottom: 0px;
	td {
		padding: 5px;
	}
}
.rangeTip {
	font-size: 7pt;
	color: #666666;

	margin: 0px;
	list-style-type: none;

	li {
		line-height: 14px;

		&.rangeTipLeft {
			float: left;
		}
		&.rangeTipRight {
			float: right;
		}
	}
}

.spiro-controls {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 20px;
	background: rgba(51, 7, 7, 0.3);
	border-radius: 4px;
	text-align: center;

	a {
		color: #555555;
		display: block;
		&:hover {
			color: white;
			text-decoration: none;
		}
	}
	&:hover {
		background-color: #EB0000;
	}
}
*/


.tabContent>div {
	display: none;
	min-height: 125px;

	&.visible {
		display: block;
	}
}

#sidebar {
	position: absolute;
	top: 58px;
	left: 6px;
	width: 306px;

	ol {
		list-style-type: none;
		margin: 0px;
		li {
			float: left;
			width: 35%;
			margin-right: 1px;
			text-align: center;
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
			background: rgba(0, 0, 0, 0.5);
			font-size: 9pt;
			cursor: pointer;

			a {
				color: #555555;
				line-height: 17pt;
				display: block;
				&:hover {
					color: #cccccc;
					text-decoration: none;
				}
			}

			&.selected {
				background: rgba(0, 0, 0, 0.3);
				a {
					color: #888888;
				}
			}
		}
	}
}
#sidebar form {
	margin: 0px;
}
#location {
	width: 276px;
	font-size: 12pt;
	height: 26px;
	background-color: #eeeeee;
}
.spinner {
	float: right;
	width: 26px;
	height: 26px;
	display: block;
}

#sidebar select {
	width: 290px;
	border-width: 0px;
	border: 0px;
}


.speciesCount {
	background-color: #333333;
	color: white;
	font-size: 7pt;
	border-radius: 5px;
	text-align: center;
	display: block;
	width: 30px;
	margin: 1px 0px 0px 10px;
}
#messageBar {
	display: none;
	margin: 10px;
	color: #ffffff;
	padding: 8px;
	font-size: 11pt;
	text-align: center;
	text-shadow: 1px 0px #666666;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	-moz-box-shadow:0 1px 0 0 rgba(255,255,255,0.5) inset;
	-webkit-box-shadow:0 1px 0 0 rgba(255,255,255,0.5) inset;
	-o-box-shadow:0 1px 0 0 rgba(255,255,255,0.5) inset;
	clear: both;
	font-size: 12px;
	font-weight: normal;
	line-height: 20px;
	min-height: 20px;
}
.error {
	background-color: #cd2f2f;
	background-image: linear-gradient(#cd2f2f, #e54444);
	background-image: -webkit-linear-gradient(#cd2f2f, #e54444);
	border: 1px solid #e54444;
}
.notification {
	background-color: #8ACED6;
	background-image: linear-gradient(#83ACFF, #82ABFF);
	background-image: -webkit-linear-gradient(#83ACFF, #82ABFF);
	border: 1px solid #A0BFFF;
}
