@import "variables";

body .well {
	background: rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 4px rgba(40, 40, 40, 0.8);
	border: 0px;
	margin-bottom: 6px;
	padding: 4px;
	position: relative;
	clear: both;
}

body .well-pad {
	padding: 8px;
}

#backTop {
	display: none;
	padding: 6px 6px 6px 12px;
}
#backLeft {
	display: none;
	width: 50px;
	background-color: #efefef;
	position: absolute;
	left: 0px;
	height: 1000px;
	cursor: pointer;

	div {
		width: 0;
		height: 0;
		border-top: 20px solid transparent;
		border-bottom: 20px solid transparent;
		border-right: 20px solid #666666;
		margin-left: 12px;
		position: absolute;
	}
}

.tabContent>div {
	display: none;
	min-height: 125px;

	&.visible {
		display: block;
	}
}

#sidebar {
	position: absolute;
	top: 58px;
	left: 6px;
	width: 306px;
}
#sidebar form {
	margin: 0px;
}

#location {
	width: 276px;
	font-size: 12pt;
	height: 26px;
	background-color: #eeeeee;
	margin-bottom: 16px;
}

#observationRecency {
	width: 100%;
}

.spinner {
	float: right;
	width: 26px;
	height: 26px;
	display: block;

	select {
		width: 290px;
		border-width: 0px;
		border: 0px;
		height: 26px;
	}
}

.speciesCount {
	background-color: #333333;
	color: white;
	font-size: 7pt;
	border-radius: 5px;
	text-align: center;
	display: block;
	width: 30px;
	margin: 1px 0px 0px 10px;
}
#messageBar {
	display: none;
	margin: 10px;
	color: #ffffff;
	padding: 8px;
	font-size: 11pt;
	text-align: center;
	text-shadow: 1px 0px #666666;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-khtml-border-radius:5px;
	-moz-box-shadow:0 1px 0 0 rgba(255,255,255,0.5) inset;
	-webkit-box-shadow:0 1px 0 0 rgba(255,255,255,0.5) inset;
	-o-box-shadow:0 1px 0 0 rgba(255,255,255,0.5) inset;
	clear: both;
	font-size: 12px;
	font-weight: normal;
	line-height: 20px;
	min-height: 20px;
}
.error {
	background-color: #cd2f2f;
	background-image: linear-gradient(#cd2f2f, #e54444);
	background-image: -webkit-linear-gradient(#cd2f2f, #e54444);
	border: 1px solid #e54444;
}

.notification {
	background-color: #8ACED6;
	background-image: linear-gradient(#83ACFF, #82ABFF);
	background-image: -webkit-linear-gradient(#83ACFF, #82ABFF);
	border: 1px solid #A0BFFF;
}

#resultTypeGroup {
	margin: 0px 0px 10px;
	padding: 0px;

	li:hover {
		label {
			color: $primaryColor1;
			text-shadow: 1px 1px 3px black;
		}
		&.selected label {
			color: #efefef;
		}
	}
	input {
		margin: -3px 5px 0px 4px;
	}
	label {
		display: inline-block;
		color: #444444;
	}

	.selected label {
		color: #efefef;
		text-shadow: 1px 1px 3px black;
	}
}

.rangeTip {
	font-size: 8pt;
	color: #666666;
	width: 100%;
	margin: 0px;
	list-style-type: none;

	li {
		line-height: 14px;
		width: 33%;
		float: left;

		&.rangeTipLeft {
			text-align: left;
			font-weight: bold;
		}
		&.rangeValue {
			text-align: center;
			span {
				background-color: #efefef;
				color: #000000;
				border-radius: 2px;
				padding: 3px 8px;
				font-size: 11px;
			}
		}
		&.rangeTipRight {
			text-align: right;
			font-weight: bold;
		}
	}
}

#observationRecencySection {
	label {
		border-top: 1px solid #333333;
		font-size: 13px;
		margin: 0px;
		padding-top: 8px;
	}
}