body {
  padding: 0px;
  font-family: sans-serif;
  line-height: 17pt;
  color: #555555;
  background-image: url(../../images/debut_dark.png);
  background-repeat: repeat;
  overflow: hidden; }

section {
  padding: 0px; }

.hidden {
  display: none; }

.clear {
  clear: both; }

a:hover {
  color: #990000;
  text-decoration: none; }

.tablesorter thead th {
  cursor: pointer; }

body .well {
  background: rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(40, 40, 40, 0.8);
  border: 0px;
  margin-bottom: 6px;
  padding: 4px;
  position: relative;
  clear: both; }

body .well-pad {
  padding: 8px; }

#backTop {
  display: none;
  padding: 6px 6px 6px 12px; }

#backLeft {
  display: none;
  width: 50px;
  background-color: #efefef;
  position: absolute;
  left: 0px;
  height: 1000px;
  cursor: pointer; }
  #backLeft div {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid #666666;
    margin-left: 12px;
    position: absolute; }

.tabContent > div {
  display: none;
  min-height: 125px; }
  .tabContent > div.visible {
    display: block; }

#sidebar {
  position: absolute;
  top: 58px;
  left: 6px;
  width: 306px; }

#sidebar form {
  margin: 0px; }

#location {
  width: 276px;
  font-size: 12pt;
  height: 26px;
  background-color: #eeeeee;
  margin-bottom: 16px; }

.spinner {
  float: right;
  width: 26px;
  height: 26px;
  display: block; }
  .spinner select {
    width: 290px;
    border-width: 0px;
    border: 0px;
    height: 26px; }

.speciesCount {
  background-color: #B0CDF7;
  color: white;
  font-size: 7.2pt;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
  display: block;
  width: 30px;
  margin: 1px 0px 0px 10px;
  text-shadow: 1px 1px 1px #333333;
  height: 21px; }
  .speciesCount canvas {
    margin-top: 2px; }

#sidebarResultsTable tr {
  cursor: pointer;
  height: 22px; }

#messageBar {
  display: none;
  margin: 0px 0px 4px;
  color: #ffffff;
  padding: 8px;
  font-size: 11pt;
  text-align: center;
  text-shadow: 1px 0px #666666;
  border-radius: 5px 5px 5px 5px;
  clear: both;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  min-height: 20px;
  text-shadow: 1px 1px 3px #111111; }

.error {
  background: rgba(204, 0, 0, 0.2);
  box-shadow: inset 0 0 42px #753b3b; }

.notification {
  background: rgba(0, 153, 234, 0.2); }
  .notification b {
    color: #B0CDF7; }

#resultTypeGroup {
  margin: 0px 0px 4px;
  padding: 0px;
  list-style-type: none; }
  #resultTypeGroup li:hover label {
    color: #b2d0ff;
    text-shadow: 1px 1px 3px black; }
  #resultTypeGroup li:hover.selected label {
    color: #efefef; }
  #resultTypeGroup input {
    margin: -3px 5px 0px 4px; }
  #resultTypeGroup label {
    display: inline-block;
    color: #777777; }
  #resultTypeGroup .selected label {
    color: #efefef;
    text-shadow: 1px 1px 3px black; }

.rangeTip {
  font-size: 8pt;
  color: #666666;
  width: 100%;
  margin: 0px;
  list-style-type: none; }
  .rangeTip li {
    line-height: 14px;
    float: left; }
    .rangeTip li.rangeTipLeft {
      text-align: left;
      font-weight: bold;
      width: 15px; }
    .rangeTip li.rangeTipRight {
      text-align: right;
      font-weight: bold;
      width: 20px; }

#observationRecency, #hotspotActivity {
  width: 252px; }

#hotspotActivity {
  margin-bottom: 10px; }

#observationRecencySection label, #hotspotActivitySection label {
  border-top: 1px solid #333333;
  font-size: 13px;
  margin: 0px;
  padding: 8px 0px 4px; }

/* for browsers that don't support the range element, this styles the jQuery slider */
#hotspotActivitySection .ui-slider-horizontal {
  margin-bottom: 10px; }

#observationRecencyDisplay, #hotspotActivityRecencyDisplay {
  font-weight: bold;
  color: white;
  margin-top: 7px; }

#searchOptionsLink {
  font-size: 11px;
  color: #888888; }
  #searchOptionsLink:hover {
    color: #b2d0ff;
    text-decoration: none; }

#lang {
  margin: 10px 0px 10px 18px;
  width: 90px; }

#limitHotspotsByObservationRecency {
  float: left;
  margin: 12px 8px 10px 0px; }

#loadingSpinner {
  float: right; }

#sidebarResults {
  overflow-y: auto; }
  #sidebarResults label:hover {
    color: white; }

#sidebarResultsTable td, #sidebarResultsTable th {
  padding: 0px;
  font-size: 12px; }

#sidebarResultsTable td label {
  margin: 0px;
  font-size: 12px; }

#sidebarResultsTable {
  margin-bottom: 0px; }

#mapTabContent, #birdSpeciesTabContent {
  width: 100%;
  height: 100%;
  border-top: 2px solid #0094c8; }

#mainPanel {
  position: absolute;
  left: 318px;
  top: 52px;
  padding-top: 6px; }

#panelContent {
  height: 100%;
  width: 100%;
  clear: both; }

#panelTabs {
  list-style-type: none;
  margin: 0px;
  padding: 0px; }
  #panelTabs li {
    float: left;
    margin: 1px 4px 0px 0px;
    text-align: center;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: none;
    font-size: 9pt;
    padding: 3px 22px 3px;
    cursor: pointer; }
    #panelTabs li.disabledTab {
      padding-top: 4px;
      background: rgba(0, 0, 0, 0.3);
      cursor: default; }
    #panelTabs li a {
      color: #555555;
      line-height: 17pt;
      display: block; }
      #panelTabs li a:hover {
        color: #cccccc;
        text-decoration: none; }

#birdSpeciesTabContent {
  box-sizing: border-box;
  overflow-y: scroll;
  font-size: 13px;
  color: #cccccc;
  background: rgba(255, 255, 255, 0.1); }
  #birdSpeciesTabContent h1 {
    font-size: 18pt;
    color: #ffffff;
    margin: 0px 0px 10px 0px;
    line-height: 26px;
    float: left; }
  #birdSpeciesTabContent h2 {
    font-size: 10pt;
    color: #666666;
    margin: 2px 0px 0px 20px;
    float: left;
    padding: 3px 10px;
    border-radius: 7px;
    color: black;
    background-color: #efefef;
    line-height: 17px; }
  #birdSpeciesTabContent table td, #birdSpeciesTabContent table th {
    padding: 6px; }
  #birdSpeciesTabContent table th {
    color: #cccccc;
    font-size: 14px;
    text-shadow: 1px 2px 2px #222222; }
  #birdSpeciesTabContent .species {
    color: #ffffff; }

.fixedHeader {
  width: 100%;
  position: fixed;
  background-image: url(../../images/debut_dark.png);
  background-repeat: repeat; }
  .fixedHeader > div {
    padding: 20px 20px 0px;
    background: rgba(255, 255, 255, 0.1); }

.fixedContent {
  padding: 0px 15px;
  margin-top: 60px; }
  .fixedContent a {
    display: block; }

.sp {
  width: 30px; }

.notLoaded label {
  color: #555555; }

.joiner {
  color: #999999; }

.confirmed {
  color: green; }

.reviewed {
  color: #9f3fcf; }

.not_reviewed {
  color: #995200; }

.birdSightingsTable a {
  display: inline; }

.birdLocations {
  font-size: 8pt;
  color: #888888; }

.lastSeenDetails, .howManyDetails {
  font-size: 8pt; }

#eBirdText {
  float: right;
  font-size: 8pt;
  margin-right: 21px;
  color: #999999; }
  #eBirdText span {
    background-color: #555555;
    border-radius: 5px;
    padding: 2px 8px;
    color: white;
    margin-right: 8px;
    text-decoration: none; }

body .navbar .brand {
  padding: 15px 0px 13px 40px;
  width: 170px;
  background: transparent url(../../images/icon.png) left center no-repeat;
  margin-left: 1px;
  color: #e9f7ff; }
  body .navbar .brand span {
    color: #33b5e5; }

body .navbar-inner {
  padding-left: 12px; }

body div.mapBtn {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  text-align: center;
  position: relative;
  font-family: "lucida grande", Arial;
  font-size: 11px;
  box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0 2px 4px;
  color: #000;
  border: 1px solid #717B87;
  background-color: #fff;
  margin: 5px;
  padding: 1px 6px;
  overflow: hidden; }

body div.mapBtn:hover {
  background: #FEFEFE;
  background: -moz-linear-gradient(top, #fefefe 0%, #f3f3f3 100%);
  background: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#f3f3f3));
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FEFEFE', endColorstr='#F3F3F3', GradientType=0); }

body div.mapBtnSelected {
  font-weight: bold; }

#mapTabContent img {
  max-width: none; }

.gm-style-iw h4 {
  color: #333333;
  white-space: nowrap; }

a.viewNotableSightingDetails:hover {
  color: #990000;
  text-decoration: none; }

.dialogBottomLink {
  padding-bottom: 10px; }

.dialogTable {
  margin-bottom: 6px; }

.cornellThanks {
  color: white; }

.decorationImage {
  float: right;
  margin-left: 15px;
  box-shadow: 1px 1px 4px #222222; }
  .decorationImage img {
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
  .decorationImage div {
    background: rgba(0, 0, 0, 0.3);
    color: #bbbbbb;
    text-align: center;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    font-size: 10px; }

#appVersion {
  color: #aaaaaa;
  font-size: 12pt; }

.table-striped tbody > tr:nth-child(odd) > td,
.table-striped tbody > tr:nth-child(odd) > th {
  background: rgba(100, 100, 100, 0.25); }

body .table-hover tbody tr:hover > td {
  background-color: #222222; }

.modal {
  width: 800px;
  margin-left: -400px;
  border-radius: 6px;
  background-image: url(../../images/debut_dark.png);
  background-repeat: repeat;
  color: #888888; }

.modal-header {
  border-bottom: 2px solid #0094c8;
  padding: 9px 0px 0px; }
  .modal-header ul {
    margin-bottom: 0px; }
  .modal-header li {
    font-size: 9pt;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: none;
    padding: 5px 22px; }

.modal-footer {
  background-image: url(../../images/debut_dark.png);
  background-repeat: repeat; }

body .modal h2 {
  margin-top: 2px;
  font-size: 28px; }
