/* general */
html { 
	height: 100%;
	font-family: "lucida grande";
}
body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-size: 9pt;
	line-height: 20px;
	overflow: hidden;
}
.hidden {
	display: none;
}
.clear {
	clear: both;
}
a:link, a:visited {
	color: #0033cc;
	text-decoration: none;
}

/* top row */
#topBar {
	background-color: #333333;
	position: absolute;
	top: 0px;
	width: 100%;
}
#searchTextField {
	width: 500px;
	font-size: 16pt;
	margin: 3px;
	height: 26px;
}
#observationRecencyGroup {
	position: absolute;
	padding: 10px;
	color: white;
	display: inline;
}

/* sidebar */
.sidebarSection {
	padding: 10px;
	border-bottom: 1px solid #cccccc;
}
#numHotspotsFound {
	color: #999999;
	font-size: 12pt;
}
#searchResults {
	font-size: 10px;
	overflow-y: scroll;
}
#searchResults td, #searchResults th {
	vertical-align: top;
	text-align: left;
}

/* top row 	*/
#mapCanvas {
	width: 100%;
	height: 100%;
}
#mainPanel {
	position: absolute;
	left: 270px;
	top: 40px;
	padding: 3px;
	background: url(images/bg.png);
}
#sidebar {
	position: absolute;
	top: 40px;
	left: 0px;
	width: 269px;
	background: url(images/sidebar_bg.png);
	border-right: 1px solid #333333;
}

#panelTabs {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}
#panelTabs li {
	float: left;
	padding: 2px 20px;
	background-color: #cccccc;
	border-radius: 5px 5px 0px 0px;
	margin-right: 1px;
}
#panelTabs li.selected {
	background-color: #333333;
	color: white;
}
#panelTabs li.disabled {
	color: #999999;
}
#panelContent {
	height:100%;
	width: 100%;
	clear: both;
	border: 2px solid #333333;
}
