@import "variables";

* {
	box-sizing: border-box;
}
body {
	box-sizing: border-box;
	padding: 0;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 20px;
	font-size: 14pt;
	color: #cccccc;
	overflow: hidden;
	background-color: #222222;
	background-image: none;
}
div {
	box-sizing: border-box;
}
section {
	padding: 0;
}
.hidden {
	display: none;
}
.clear {
	clear: both;
}
body {
	a {
		color: $blue;
		&:hover, &:focus {
			color: $linkHover;
			text-decoration: none;
		}
		// add an icon after all offsite links
		&[target="_blank"]:after {
			content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
			margin: 0 3px 0 5px;
		}
	}

	// hide it for offsite links on google maps
	.gm-style a[target="_blank"]:after {
		content: '';
		margin: 0;
	}
}
a:focus {
	text-decoration: none;
}
.tablesorter thead th {
	cursor: pointer;
}
button.btn {
	box-shadow: none;
}
.close-panel {
	cursor: pointer;
}

::-webkit-scrollbar {
	width: 12px;
	height: 12px;
}
::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.1);
}
::-webkit-scrollbar-thumb {
	background: rgba(215, 215, 215, 1);
}

.capitalize, .capitalize span {
	white-space: nowrap;
	text-transform: capitalize;
}
