.gm-style * {
  width: auto;
  height: auto;
}
.gm-style .gm-style-mtc>div {
  padding: 4px 10px !important;
}
.has-results .gm-style .gm-style-mtc>div {
  &:first-child {
    margin-top: 26px;
  }
  &:nth-child(2) {
    font-size: 8px;
  }
}
.has-results .map-btn {
  top: 27px !important;
}
.map-btn-selected {
  font-weight: bold;
  color: #0086cc;
}

.marker-popup {
  h4 {
    color: #111111;
  }
}

.notable-sightings-list-wrapper {
  max-height: 200px;
  overflow-y: auto;
}
.notable-sightings-list {
  margin-bottom: 8px;
  color: #333333;
  .species-name {
    padding-right: 30px;
  }
  .obs-date {
    padding-right: 30px;
  }
  a {
    color: #bbbbbb;
    &:hover {
      color: #0099cc;
    }
  }
  .has-rich-media {

  }
  .checklist-link {
    margin-right: 20px;
    &:after { display: none; }
  }
}
