#mobile-search-row {
  display: none;
}

@media (max-width: 768px) {

  #intro-overlay {
    width: 100%;
    span {
      display: block;
    }
    .tab-content {
      border-radius: 0;
      & > div {
        text-align: center;
      }
    }
    button span {
      display: inline;
    }
  }
  #intro-tooltip {
    top: 110px !important;
    left: 5px !important;
  }
  #mobile-search-row {
    display: flex;
    height: 45px;
  }
  header .header-search {
    position: absolute;
    top: 46px;
    width: 100%;
  }
  #map-overlay.editable-header {
    top: 105px;
  }
  #locations-panel {
    top: 105px;
    width: 100%;
    .section-header {
      width: 50%;
    }
  }
  #species-panel {
    top: 105px;
    left: 0;
    width: 100% !important;

    .section-header {
      margin-left: 50%;
    }
    .filter-field {
      display: none;
    }

    header, footer {
      border-left: 0;
    }
  }


  header .nav-items {
    display: none;
  }

  /* locations panels */
  #filter-locations-row {
    display: none;
  }
  #locations-panel .location {
    width: 100%;
  }
  .locations-table-wrapper {
    .range {
      margin-right: 10px;
    }
  }
  .num-species span {
    margin-right: 10px;
  }
}

.icon-bar {
  background-color: white;
}

.navbar-toggle {
  position: absolute;
  right: 0;
  top: 5px;
}

#mobile-navbar {
  position: absolute;
  top: 59px;
  width: 100%;
  background-color: #333333;
  overflow: hidden;
  z-index: 3;
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  border-bottom: 1px solid #bbbbbb;

  li {
    padding: 14px 19px;
    color: #efefef;
    font-size: 14px;
  }
}


@media (min-width: 768px) {
  #mobile-navbar {
    display: none !important;
  }
}

