<div class="fixedHeader">
	<div>
		<h1>
			<% if (isSingleLocation) { %>
				<a href="#" class="showBirdSightingsTable"><%=L.sightings%></a>
				<span class="joiner">&raquo;</span> <%= locationName %>
			<% } else { %>
				<%=L.sightings%>
			<% } %>
		</h1>
		<h2><%= L.last %> <%= searchObservationRecency%> <% if (searchObservationRecency == 1) { %><%= L.day %><% } else { %><%= L.days %><% } %></h2>
		<div class="clear"></div>
	</div>
</div>

<div class="fixedContent">
	<table class="birdSightingsTable table tablesorter table-striped table-hover" id="birdSightings">
		<thead>
			<th><%=L.species%></th>
			<th><%=L.scientific_name%></th>
			<th class="{ sorter: false }"><%=L.locations_seen%> <a href="#" class="toggleBirdSpeciesLocations">(+)</a></th>
			<th width="140"><%=L.last_seen%></th>
			<th width="80"><%=L.num_reported%></th>
		</thead>
		<tbody>
		<% _.each(sightings, function(sighting, index) { %>
		<tr>
			<td class="species"><%=sighting.comName%></td>
			<td><%=sighting.sciName%></td>
			<td>
				<%= L.seen_at %> <%= sighting.obs.length %> <% if (sighting.obs.length > 1) {%><%= L.locations.toLowerCase() %><% } else { %><%= L.location.toLowerCase() %><% } %>
				<div class="birdLocations hidden"><%= sighting.locations.join("<br />") %></div>
			</td>
			<td nowrap>
				<div class="lastSeenSingle"><%=sighting.mostRecentObservationTime%></div>
				<div class="lastSeenDetails hidden"><%=sighting.lastSeenArray.join("<br />") %></div>
			</td>
			<td>
				<div class="howManySingle"><%=sighting.howManyCount%></div>
				<div class="howManyDetails hidden"><%=sighting.howManyArray.join("<br />") %></div>
			</td>
		</tr>
		<% }); %>
		</tbody>
	</table>
</div>