<div class="fixedHeader">
	<div>
		<h1>
			<% if (isSingleLocation) { %>
				<a href="#" class="showNotableSightingsTable"><%=L.sightings%></a>
				<span class="joiner">&raquo;</span> <%= locationName %>
			<% } else { %>
				<%=L.sightings%>
			<% } %>
		</h1>
		<h2>last <%=searchObservationRecency%> <% if (searchObservationRecency == 1) { %><%=L.day%><% } else {%><%=L.days%><% } %></h2>
		<div class="clear"></div>
	</div>
</div>

<div class="fixedContent">
	<table class="birdSightingsTable table table-striped table-hover">
		<thead>
			<th><%=L.species%></th>
			<th><%=L.scientific_name%></th>
			<th class="{ sorter: false }">Locations Seen <a href="#" class="toggleBirdSpeciesLocations">+</a></th>
			<th><%=L.last_seen%></th>
			<th># Reported</th>
		</thead>
		<tbody>
		<% _.each(sightings, function(sighting, index) { %>
		<tr>
			<td class="species"><%=sighting.comName%></td>
			<td><%=sighting.sciName%></td>
			<td>
				Seen at <%= sighting.obs.length %> locations
				<div class="birdLocations hidden"><%= sighting.locations.join("<br />") %></div>
			</td>
			<td nowrap>
				<div class="lastSeen"><%=sighting.mostRecentObservationTime%></div>

			</td>
			<td>
				<div class="lastSeen"><%=sighting.howMany%></div>

			</td>
		</tr>
		<% }); %>
		</tbody>
	</table>
</div>