<div class="fixedHeader">
	<div>
		<h1>
			<% if (isSingleLocation) { %>
			<a href="#" class="showNotableSightingsTable"><%=L.notable_sightings%></a>
				<span class="joiner">&raquo;</span> <%= locationName %>
			<% } else { %>
				<%=L.notable_sightings%>
			<% } %>
		</h1>
		<h2>last <%=searchObservationRecency%> days</h2>
		<div class="clear"></div>
	</div>
</div>

<div class="fixedContent">
	<table class="table table-striped table-hover">
		<thead>
			<% if (!isSingleLocation) { %><th>Location</th><% } %>
			<th><%=L.species%></th>
			<th>#</th>
			<th><%=L.scientific_name%></th>
			<th><%=L.reported_by%></th>
			<th><%=L.date%></th>
			<th>Status</th>
		</thead>
		<tbody>
		<% _.each(sightings, function(sighting, index) { %>
		<tr>
			<% if (!isSingleLocation) { %><td><a href="#" class="filterNotableSightingByLocation" data-location-id="<%=sighting.locationID%>"><%=sighting.locationName%></a></td><% } %>
			<td class="species"><%=sighting.comName%></td>
			<td><%=sighting.howMany%></td>
			<td><%=sighting.sciName%></td>
			<td><%=sighting.reporterName%></td>
			<td nowrap><%=sighting.obsDt%></td>
			<td>
				<% if (sighting.obsValid) { %>
					<span class="confirmed">Confirmed</span>
				<% } else if (sighting.obsReviewed) { %>
					<span class="reviewed">Reviewed</span>
				<% } else if (!sighting.obsReviewed) { %>
					<span class="not_reviewed">Not reviewed</span>
				<% } %>
			</td>
		</tr>
		<% }); %>
		</tbody>
	</table>
</div>