<div class="fixedHeader">
	<div>
		<h1>
			<% if (isSingleLocation) { %>
			<a href="#" class="showNotableSightingsTable"><%=L.notable_sightings%></a>
				<span class="joiner">&raquo;</span> <%= locationName %>
			<% } else { %>
				<%=L.notable_sightings%>
			<% } %>
		</h1>
		<h2><%=L.last%> <%=searchObservationRecency%> <% if (searchObservationRecency == 1) { %><%=L.day%><% } else {%><%=L.days%><% } %></h2>
		<div class="clear"></div>
	</div>
</div>

<div class="fixedContent">
	<table class="table tablesorter table-striped table-hover" id="notableSightings">
		<thead>
			<tr>
				<% if (!isSingleLocation) { %><th>Location</th><% } %>
				<th><%=L.species%></th>
				<th>#</th>
				<th><%=L.scientific_name%></th>
				<th><%=L.reported_by%></th>
				<th class="{ sorter: 'customdate' }"><%=L.date%></th>
				<th><%=L.status%></th>
			</tr>
		</thead>
		<tbody>
		<% _.each(sightings, function(sighting, index) { %>
		<tr>
			<% if (!isSingleLocation) { %><td><a href="#" class="filterNotableSightingByLocation" data-location-id="<%=sighting.locationID%>"><%=sighting.locationName%></a></td><% } %>
			<td class="species"><%=sighting.comName%></td>
			<td><%=sighting.howMany%></td>
			<td><%=sighting.sciName%></td>
			<td><%=sighting.reporterName%></td>
			<td data-u="<%=sighting.obsDt_unixtime%>" nowrap><%=sighting.obsDt%></td>
			<td>
				<% if (sighting.obsValid) { %>
					<span class="confirmed"><%=L.confirmed%></span>
				<% } else if (sighting.obsReviewed) { %>
					<span class="reviewed"><%=L.reviewed%></span>
				<% } else if (!sighting.obsReviewed) { %>
					<span class="not_reviewed"><%=L.not_reviewed%></span>
				<% } %>
			</td>
		</tr>
		<% }); %>
		</tbody>
	</table>
</div>