<h1>
	<a href="#">Notable Sightings</a>
	<% if (isSingleLocation) { %>
		<span class="joiner">&raquo;</span> <%= locationName %>
	<% } %>
</h1>
<h2>Notable bird sightings reported in the last <%=searchObservationRecency%> days</h2>

<table class="">
	<thead>
		<% if (!isSingleLocation) { %><th>Location</th><% } %>
		<th>Species</th>
		<th>Scientific Name</th>
		<th>Observation Date</th>
	</thead>
	<tbody>
	<% _.each(sightings, function(sighting, index) { %>
	<tr>
		<% if (!isSingleLocation) { %><td><%=sighting.locationName%></td><% } %>
		<td><%=sighting.comName%></td>
		<td><%=sighting.sciName%></td>
		<td><%=sighting.obsDt%></td>
	</tr>
	<% }); %>
	</tbody>
</table>