<div class="navbar">
	<div class="navbar-inner">
		<div class="container">
			<span class="brand">bird<span>search</span>.org</span>
			<div class="nav-collapse">
				<ul class="nav pull-right">
					<li class="divider-vertical"></li>
					<li><a href="#aboutDialog" data-toggle="modal"><%=L.help%></a></li>
					<li class="divider-vertical"></li>
					<li><a href="http://ebird.org">eBird.org</a></li>
					<li class="divider-vertical"></li>
					<li>
						<select id="lang">
							<option value="en"<% if (currentLangFile === "lang_en"){%> selected="selected"<% } %>>English</option>
							<option value="fr"<% if (currentLangFile === "lang_fr"){%> selected="selected"<% } %>>Français</option>
							<option value="de"<% if (currentLangFile === "lang_de"){%> selected="selected"<% } %>>Deutsch</option>
							<option value="es"<% if (currentLangFile === "lang_es"){%> selected="selected"<% } %>>Español</option>
						</select>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
