<div id="hotspotTable">
	<table class="tablesorter tablesorter-bootstrap table table-striped" id="hotspotTableHeader">
		<thead>
		<tr>
			<th><%=L.location.toUpperCase()%></th>
			<th class="sorter-species" width="40"></th>
		</tr>
		</thead>
	</table>

	<div id="hotspotTableRows" style="height:<%=height%>px">
		<table class="tablesorter tablesorter-bootstrap table table-striped" id="hotspotTableBody">
			<tbody>
			<% _.each(hotspots, function(hotspot, index) { %>
				<tr id="location_<%=hotspot.locationID%>" class="<%=hotspot.rowClass%>">
					<td class="loadingStatus"><label><%=hotspot.n%></label></td>
					<td class="sp"><span class="speciesCount"><%=hotspot.numSpeciesWithinRange%></span></td>
				</tr>
			<% }); %>
			</tbody>
		</table>
	</div>
</div>