<table class="tablesorter tablesorter-bootstrap table table-striped" id="hotspotTable">
<thead>
	<tr>
		<th width="20" class="{ sorter: false }">
			<input type="checkbox" class="toggle" checked="checked" title="<%=L.select_unselect_all%>" />
		</th>
		<th><%=L.location.toUpperCase()%></th>
		<% if (showSpeciesColumn) { %><th class="sorter-species" width="40"><%=L.species.toUpperCase()%></th><% } %>
	</tr>
</thead>
<tbody>
<% _.each(hotspots, function(hotspot, index) { %>
	<tr id="location_<%=hotspot.locationID%>">
		<td><input type="checkbox" id="row<%=index%>" checked="checked" /></td>
		<td class="loadingStatus' + rowClass + '"><label for="row<%=index%>"><%=hotspot.n%></label></td>
		<% if (showSpeciesColumn) { %><td class="sp"><span class="speciesCount">numSpeciesWithinRange</span></td><% } %>
	</tr>
<% }); %>
</tbody>
</table>
