<div id="backLeft"><div></div></div>

<div class="well well-pad">
	<input type="text" id="location" />

	<ul id="resultTypeGroup">
		<li class="selected">
			<input type="radio" name="resultType" id="rt1" value="all" checked="checked" />
			<label for="rt1"><%= L.all_bird_sightings %></label>
		</li>
		<li>
			<input type="radio" name="resultType" id="rt2" value="notable" />
			<label for="rt2"><%= L.notable_sightings %></label>
		</li>
		<li>
			<input type="radio" name="resultType" id="rt3" value="hotspots" />
			<label for="rt3"><%= L.popular_birding_locations %></label>
		</li>
	</ul>

	<a href="#" id="searchOptionsLink"><%= L.more_search_options %></a>

	<!-- optional search options for the "All bird sightings" search option -->
	<div id="observationRecencySection" style="display:none">
		<label for="observationRecency">
			Show observations made within last <span id="observationRecencyDisplay">7</span> day(s)
		</label>
		<ol class="rangeTip">
			<li class="rangeTipLeft">1</li>
			<li>
				<input type="range" id="observationRecency" min="1" max="30" value="7" />
			</li>
			<li class="rangeTipRight">30</li>
		</ol>
		<div class="clear"></div>
	</div>

	<!-- optional search options for the "Popular birding locations" search option -->
	<div id="hotspotActivitySection" style="display:none">
		<input type="checkbox" id="limitHotspotsByObservationRecency" />
		<label for="limitHotspotsByObservationRecency" class="disabled">
			Limit to locations with observations made within last <span id="hotspotActivityRecencyDisplay">7</span> day(s)
		</label>
		<ol class="rangeTip">
			<li class="rangeTipLeft">1</li>
			<li>
				<input type="range" id="hotspotActivity" min="1" max="30" value="7" />
			</li>
			<li class="rangeTipRight">30</li>
		</ol>
	</div>

	<div style="margin-top: 10px;">
		<input type="submit" class="btn btn-primary" id="searchBtn" value="Search &raquo;" />
		<span id="loadingSpinner"></span>
	</div>
</div>

<div id="messageBar"></div>

<div id="fullPageSearchResults" class="sidebarSection hidden"></div>